<main class="container"><div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong><i class="fa fa-users" aria-hidden="true"></i> Teams</strong>
        </div>
        <div class="card-block">
          <table class="table table-striped table-bordered table-responsive">
            <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Available</th>
              <th>Active</th>
              <th>Compromised</th>
              <th>Score</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let team of teams | score">
              <td>{{team.name}}</td>
              <td>{{team.locationName}}</td>
              <td>{{team.numberOfAndroidsAvailable}}</td>
              <td>{{team.numberOfAndroidsActive}}</td>
              <td>{{team.numberOfAndroidsCompromised}}</td>
              <td>{{team.score}}</td>
              <td><a [routerLink]="['../modify/', team.id]">Edit</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div></main>