<main class="container"><div class="row">
  <div class="col-md-12" *ngIf="added">
    <div class="alert alert-success" role="alert">
      Team succesfully added!
    </div>
    <ul class="list-group">
      <li class="list-group-item">Id: <b>{{addedTeam.id}}</b></li>
      <li class="list-group-item">Name:  <b>{{addedTeam.name}}</b></li>
      <li class="list-group-item">Feedback Endpoint:  <b>{{addedTeam.feedbackEndpoint}}</b></li>
      <li class="list-group-item">Location:  <b>{{addedTeam.locationName}}</b></li>
    </ul>
    <p>
      Goodluck instructions here
    </p>
  </div>
  <div class="col-md-12" *ngIf="!added">
    
      <div class="form-group">
          <label for="teamName">Name</label>
          <input [(ngModel)]="team.name"  class="form-control" id="teamName" aria-describedby="nameHelp" placeholder="Team Name" [attr.disabled]="added?'':null">
          <small id="nameHelp" class="form-text text-muted">Your team name here!</small>
        </div>
        <div class="form-group">
          <label for="teamUrl">Name</label>
          <input [(ngModel)]="team.feedbackEndpoint"  class="form-control" id="teamUrl" aria-describedby="feedbackHelp" placeholder="Endpoint" [attr.disabled]="added?'':null">
          <small id="feedbackHelp" class="form-text text-muted">Your team feedback url here!</small>
        </div>
        <div class="form-group">
          <label for="teamPassword">Password</label>
          <input type="password" class="form-control" [(ngModel)]="team.password" id="teamPassword" placeholder="Password" [attr.disabled]="added?'':null">
        </div>
        <div class="form-group">
          <label for="teamConfirmPassword">Confirm Password</label>
          <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="teamConfirmPassword" placeholder="Confirm password" [attr.disabled]="added?'':null">
        </div>
        <button type="submit" class="btn btn-primary" [attr.disabled]="team.password!=confirmPassword?'':null" (click)="addTeam()">Register</button>
        
  </div>
</div>

</main>