<main class="container"><div class="row">
  <div class="col-md-12" *ngIf="added">
    <div class="alert alert-success" role="alert">
      Team succesfully added! Please save the id somewhere, you will need it again. (Oh and. don't forget the password..)
    </div>
    <ul class="list-group">
      <li class="list-group-item">Id: <b>{{addedTeam.id}}</b></li>
      <li class="list-group-item">Name:  <b>{{addedTeam.name}}</b></li>
      <li class="list-group-item">Feedback Endpoint:  <b>{{addedTeam.feedbackEndpoint}}</b></li>
      <li class="list-group-item">Location:  <b>{{addedTeam.locationName}}</b></li>
    </ul>
    <p>
      Goodluck instructions here
    </p>
  </div>
  <div class="col-md-12" *ngIf="!added">
    <h2>Welcome H4ck3rs!</h2>
    <p>
      Todo text here.
    </p>
      <div class="form-group">
          <label for="teamName">Name</label>
          <input [(ngModel)]="team.name"  class="form-control" [class.is-invalid]="errors.name" id="teamName" aria-describedby="nameHelp" placeholder="Team Name" [attr.disabled]="added?'':null">
          <small id="nameHelp" class="form-text text-muted">Your team name here, be original!</small>
          <div class="invalid-feedback" *ngIf="errors.name">
            The team name can't be empty!
          </div>
        </div>
        <div class="form-group">
          <label for="teamUrl">Feedback Endpoint</label>
          <input [(ngModel)]="team.feedbackEndpoint"  class="form-control"  [class.is-invalid]="errors.feedback"  id="teamUrl" aria-describedby="feedbackHelp" placeholder="Endpoint" [attr.disabled]="added?'':null">
          <small id="feedbackHelp" class="form-text text-muted">Your team feedback url here! We'll post data to this endpoint!</small>
          <div class="invalid-feedback" *ngIf="errors.feedback">
            The feedback endpoint can't be empty!
          </div>
        </div>
        <div class="form-group">
          <label for="teamPassword">Password</label>
          <input type="password" class="form-control"  [class.is-invalid]="errors.password" [(ngModel)]="team.password" id="teamPassword" placeholder="Password" [attr.disabled]="added?'':null">
          <div class="invalid-feedback" *ngIf="errors.password">
            The password can't be empty!
          </div>
        </div>
        <div class="form-group">
          <label for="teamConfirmPassword">Confirm Password</label>
          <input type="password" class="form-control" [class.is-invalid]="team.password!=confirmPassword" [(ngModel)]="confirmPassword" id="teamConfirmPassword" placeholder="Confirm password" [attr.disabled]="added?'':null">
          <div class="invalid-feedback" *ngIf="team.password!=confirmPassword">
              Passwords do not match.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [attr.disabled]="team.password!=confirmPassword?'':null" (click)="addTeam()">Register</button>
        
  </div>
</div>

</main>