<form>
  <div class="form-group">
    <label for="teamName">Name</label>
    <input [(ngModel)]="team.Name"  class="form-control" id="teamName" aria-describedby="nameHelp" placeholder="Team Name">
    <small id="nameHelp" class="form-text text-muted">Your team name here!</small>
  </div>
  <div class="form-group">
    <label for="teamUrl">Name</label>
    <input [(ngModel)]="team.FeedbackEndpoint"  class="form-control" id="teamUrl" aria-describedby="feedbackHelp" placeholder="Endpoint">
    <small id="feedbackHelp" class="form-text text-muted">Your team feedback url here!</small>
  </div>
  <div class="form-group">
    <label for="teamPassword">Password</label>
    <input type="password" class="form-control" [(ngModel)]="team.Password" id="teamPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="teamConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="teamConfirmPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" [attr.disabled]="team.Password!=confirmPassword?'':null">Register</button>
</form>